[submodule "Assets/PrettyPoly"]
	path = Assets/PrettyPoly
	url = git@bitbucket.org:q_bert_reynolds/prettypoly.git
[submodule "Assets/Paraphernalia"]
	path = Assets/Paraphernalia
	url = git@github.com:ShreveportArcade/Paraphernalia.git
